<footer>
    <div class="foot-container">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="copyright">
            <p>Copyright &copy;  company private limited</p>
        </div>

        <div class="terms-link">
             <a href="#"><p>terms and privacy</p></a>
        </div>
    </div>
</footer>