<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h1>our properties</h1>
  
    <%for (let list of alllisting){%>
        <a href="/listings/<%=list.id%>"><li>title : <%= list.title %></li></a>

        <%}%>
 

</body>


